body {
/*	background-color: blue;*/
}

#mainbody {
	width: 500px;
	height: 500px;
	margin: 100px auto;
}

.tic_tac_table, .box {
	border: solid 3px gray;
}

.tic_tac_table {
	height: 380px;
	width: 420px;
}

.box {
	text-align: center;
	font-weight: bolder;
	font-size: 10px;

}

/*.butty {
	margin-top: 20px;
}*/