.the_game {
	background: linear-gradient(270deg, #cd5e24, #cd9224, #64cd24, #24c0cd, #2432cd, #6f24cd, #cd24ac, #cd245a);
	background-size: 1600% 1600%;

	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
}

	@-webkit-keyframes AnimationName {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@-moz-keyframes AnimationName {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@keyframes AnimationName { 
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}

#mainbody {
	width: 500px;
	height: 500px;
	margin: 50px auto;
}

.title {
	text-align: justify;
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 52px;
}

.tic_tac_table, .boxy {
	border: solid 3px #d6cdde;
	table-layout: fixed;
}

.tic_tac_table {
	height: 380px;
	width: 420px;
	margin-bottom: 30px;
}

.boxy {
	text-align: center;
	font-weight: bolder;
	font-size: 10px;
}

#message, #butty, .boxy, .title {
	font-family: 'Montserrat', sans-serif;
	color: #d6cdde;
}

#message {
	float: left;
}

#butty {
	border: 4px;
	border-radius: 5px;
	text-decoration: none;
}
